.flex_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: auto;
  height: auto;
  justify-content: space-between;
}
.box {
  box-shadow: 0 0 20px 0 #e5e5e5;
  background-color: white;
  font-weight: 900;
  padding-right: 3%;
  padding-left: 3%;
  border-radius: 20px;
  width: 40%;
  margin: 0.5%;
  height: auto;
}

/* @media only screen and (max-width: 425px) {
} */
