.flex_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: auto;
  height: auto;
  justify-content: space-between;
}
.box {
  box-shadow: 0 0 20px 0 #e5e5e5;
  background-color: white;
  font-weight: 900;
  border-radius: 20px;
  margin: 0.5%;
  height: 330px;
  width: 49%;
}
.box > h3 {
  padding-right: 5%;
  padding-left: 5%;
}

iframe {
  margin-right: 5%;
}
