@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

h1 {
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
}

h3 {
  font-family: "Noto Sans", sans-serif;
  font-weight: lighter;
}

p {
  font-weight: normal;
}

body {
  background-color: #f8f8f8;
  margin: 0%;
}
.container {
  margin: 7%;
  margin-top: 5%;
}

@media only screen and (min-width: 768px) {
  .iqa_mobile {
    display: none;
  }

  hr {
    color: #e5e5e5;
    align-self: center;
    width: 80%;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.5);
    margin-bottom: 5%;
    margin-top: 5%;
  }
}

.flex-container {
  display: flex;
  flex-direction: row, column;
  flex-basis: auto;
  height: auto;
  justify-content: space-evenly;
}
.col {
  display: flex;
  width: 23%;
  flex-direction: column;
  border: hidden;
  flex-basis: auto;
  height: auto;
  justify-content: space-evenly;
  margin: 0.5%;
  border: blue;
}

.box_1 {
  box-shadow: 0 0 20px 0 #e5e5e5;
  background-color: white;
  border-radius: 20px;
  width: 100%;
  margin: 1%;
  margin-bottom: 3%;
}

.box_2 {
  box-shadow: 0 0 20px 0 #e5e5e5;
  background-color: white;
  font-weight: 900;
  border-radius: 20px;
  width: 100%;
  margin: 1%;
}

.col {
  padding-right: 0.5%;
  padding-left: 0%;
}
.box_3 {
  box-shadow: 0 0 20px 0 #e5e5e5;
  background-color: white;
  font-weight: 900;
  padding-right: 2%;
  padding-left: 3%;
  border-radius: 20px;
  margin: 0.5%;
}
.box_4 {
  box-shadow: 0 0 20px 0 #e5e5e5;
  background-color: white;
  font-weight: 900;
  /* padding: 1%; */
  padding-left: 3%;
  border-radius: 20px;
  width: 23%;
  margin: 0.5%;
  height: auto;
}

.box_1 > h3 {
  padding-left: 10%;
  text-align: left;
}
.box_2 > h3 {
  padding-left: 10%;
  text-align: left;
}
.box_1 > p {
  font-size: 300%;
  text-align: center;
  font-family: "Noto Sans", sans-serif;
  margin: 0;
}
.box_2 > p {
  font-size: 300%;
  text-align: center;
  font-family: "Noto Sans", sans-serif;
}

@media only screen and (max-width: 425px) {
  .iqa_mobile {
    box-shadow: 0 0 20px 0 #e5e5e5;
    background-color: white;
    font-weight: 900;
    border-radius: 20px;
    margin: 0.5%;
    margin-bottom: 0%;
  }
  .iqa_mobile > h3 {
    font-family: "Noto Sans", sans-serif;
    padding: 5%;
    padding-left: 6%;
    text-align: left;
  }

  .box_3 {
    display: none;
  }
  .flex-container {
    display: flex;
    flex-direction: row, column;
    flex-basis: auto;
    height: auto;
    justify-content: space-between;
  }

  .col {
    display: flexbox;
    width: 25%;
  }

  .box_1 {
    width: 190%;
    height: min-content;
    margin-bottom: 10%;
  }
  .box_2 {
    width: 190%;
  }

  .box_4 {
    margin-top: auto;
    width: 45%;
    min-height: 100%;
    margin: 0%;
  }
  .box_4 > h3 {
    padding-left: 10%;
  }
  .box_4 > p {
    padding-left: 10%;
  }

  hr {
    color: #e5e5e5;
    align-self: center;
    width: 80%;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.5);
    margin-bottom: 10%;
    margin-top: 10%;
  }
}

iframe {
  border: none;
  width: 70%;
}
