@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

ul {
  list-style: none;
}

.container {
  width: 1440px;
  background-color: #f8f8f8;
  margin: 0 auto;
  box-sizing: border-box;
  padding-left: 60px;
  padding-right: 60px;
}

.header {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  /* width: 1440px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}

.logo {
  text-align: left;
}

.header ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.header ul > li {
  height: 100%;
  display: flex;
  align-items: center;
}

.profile {
  border-radius: 70%;
}
