@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

h1 {
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
}

h3 {
  font-family: "Noto Sans", sans-serif;
  font-weight: lighter;
}

body {
  background-color: #f8f8f8;
  margin: 0%;
}
.container {
  margin: 7%;
  margin-top: 5%;
}
